# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [8]:
import pandas as pd
import numpy as np

# 1) Lista com os dados de anomalia térmica
dados_anomalia = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

# Lista com os anos para servirem de índice
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

# Criando a Series do Pandas
serie_nasa = pd.Series(data=dados_anomalia, index=anos)

# Exibindo o resultado
print(serie_nasa)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [9]:
# 2) Coloque os anos nos índices conforme a tabela
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

# Atribuindo os anos ao índice da sua Series (supondo que o nome seja serie_nasa)
serie_nasa.index = anos

# Exibindo para conferir
print(serie_nasa)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [10]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# Criando a série
serie_do_dicionario = pd.Series(dic_temperaturas)

# Verificando o resultado
print(serie_do_dicionario)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [11]:
arr = np.random.normal(100, 10, (20,3))
# Transformando em DataFrame
df = pd.DataFrame(arr, columns=['coluna_1', 'coluna_2', 'coluna_3'])

# Exibindo as primeiras linhas
print(df.head())

     coluna_1    coluna_2   coluna_3
0   92.595817   85.446701  88.742408
1  103.686010   79.657434  97.591259
2   85.176183  103.796298  97.245730
3  111.858053   97.139426  81.825649
4   95.550429  102.116123  97.461106

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [12]:
df.columns = ['x1', 'x2', 'x3']

# Nomeando os índices das linhas de 1 a 20
df.index = np.arange(1, 21)

# Verificando o resultado final
print(df)

            x1          x2          x3
1    92.595817   85.446701   88.742408
2   103.686010   79.657434   97.591259
3    85.176183  103.796298   97.245730
4   111.858053   97.139426   81.825649
5    95.550429  102.116123   97.461106
6    91.199847  103.587499   94.674864
7    97.877573   96.024232   81.132004
8   111.803302   81.202552  102.101217
9    86.628432  121.059308   86.433764
10  106.294449   92.362990   96.818457
11  110.388354  113.016702   93.576429
12  122.194227   99.118845   97.538665
13  114.520387  102.384398  109.057717
14   70.837736   99.861879  106.795854
15   78.745764   93.145834  108.572658
16  104.771531   86.474162  115.370531
17   88.577430  116.181983   92.743988
18   89.953741  118.987721  117.130957
19   96.448678   89.978403  104.492244
20   94.648874  101.075351   96.746602

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [13]:
df['media'] = df.mean(axis=1)

# Visualizando o resultado final
df.head()

           x1          x2         x3      media
1   92.595817   85.446701  88.742408  88.928309
2  103.686010   79.657434  97.591259  93.644901
3   85.176183  103.796298  97.245730  95.406070
4  111.858053   97.139426  81.825649  96.941043
5   95.550429  102.116123  97.461106  98.375886

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [14]:
# Calculando o logaritmo natural da coluna media
df['log_med'] = np.log(df['media'])

# Visualizando o resultado final
df.head()

           x1          x2         x3      media   log_med
1   92.595817   85.446701  88.742408  88.928309  4.487831
2  103.686010   79.657434  97.591259  93.644901  4.539510
3   85.176183  103.796298  97.245730  95.406070  4.558142
4  111.858053   97.139426  81.825649  96.941043  4.574103
5   95.550429  102.116123  97.461106  98.375886  4.588796